<div class="container mat-elevation-z8">
  <mat-toolbar>
    <h3>Search</h3>
    <span class="fillspace"></span>
      <input mat-input type="text" placeholder="Search">
    <button mat-fab><mat-icon>search</mat-icon></button>

  </mat-toolbar>
  <mat-divider></mat-divider>
  <div class="search-container row">
    <aside class="search-side">
      <ul>Search By
        <li>
          <mat-checkbox>Particpant IDs</mat-checkbox>
        </li>
        <li>
          <mat-checkbox>Sample IDs</mat-checkbox>
        </li>
        <li>
          <mat-checkbox>Dataset IDs</mat-checkbox>
        </li>
        <li>
          <mat-checkbox>Genetic IDs</mat-checkbox>
        </li>
      </ul>
      <mat-divider></mat-divider>
      <ul>Filter by
        <li>...</li>
      </ul>

    </aside>
    <div class="search-main">
      Results ...
  </div></div>

</div>
