<div class="mat-elevation-z8">
  <mat-toolbar>
    <h3>Participants</h3>
    <span class="fillspace"></span>
    <span><input mat-input type="text" placeholder="Search"></span>
    <button mat-button color="primary" (click)="onAddParticipant()">Add new study</button>
  </mat-toolbar>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Full number Column -->
    <ng-container matColumnDef="fullid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Number</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/participant/{{row.id}}">{{row.fullid}}</a> </td>
    </ng-container>

    <!-- Family Column -->
    <ng-container matColumnDef="family">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Family</th>
      <td mat-cell *matCellDef="let row">{{row.family}}</td>
    </ng-container>

    <!-- Arrival date Column -->
    <ng-container matColumnDef="arrival_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Arrival Date</th>
      <td mat-cell *matCellDef="let row">{{row.arrival_date | date: "yyyy-MM-dd"}}</td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let row">{{row.country}}</td>
    </ng-container>

    <!-- Study Column -->
    <ng-container matColumnDef="study">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Study</th>
      <td mat-cell *matCellDef="let row">
        <ul *ngFor="let study of row.study"><li >
          <a routerLink="/study/{{study.id}}">
            {{study.title}}
          </a> </li>
        </ul></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
